html {
    scroll-behavior: smooth;
}

#introWord h4 {
    font-family: 'Pacifico', cursive;
    color: green;
}

#MyInfo h5 {
    font-family: 'Pacifico', cursive;
    color: green;
}

#MyFooter h5 {
    font-family: 'Pacifico', cursive;
    color: white;
    size: auto;
}

#introWord h2 {
    font-family: 'Alef', sans-serif;
}

#MyInfo p {
    font-family: 'Alef', sans-serif;
}

span {
    font-family: 'Alef', sans-serif;
    color: midnightblue;
}

#introWord .button {
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: lightblue;
    border-radius: 15px;
    box-shadow: 0 9px #888;
}

#introWord .button:hover {
    background-color: rgba(62, 142, 65, 0.75)
}

#introWord .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(8px);
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.bg-light {
    background-color: rgb(249, 249, 250) !important;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fixed-top {
    position: fixed;
    z-index: 1030;
}

#MyFooter p{
    color: white;
}